<META HTTP-EQUIV="Refresh" CONTENT="3;URL=@(Url.Action("Index", "Home"))">
@{
    ViewData["Title"] = "ChangedPassword";
}

<h1>Wachtwoord gewijzigd</h1>
<p>Je hebt je wachtwoord met succes gewijzigd.</p>



