@model string
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
}

<h1>Als je een account hebt met deze email, dan ontvang je een link om het wachtwoord te resetten</h1>



<b>Deze gegevens worden naar het emailadres is gestuurd en staan hier nog alleen vanwege de testfase</b>
<p>Link: @Html.Raw(Model)</p>
<a href="@Html.Raw(Model)">Klik hier om resetlink te gaan</a>

