@using Microsoft.AspNetCore.Identity;
@using QienUrenMachien.Entities;
@inject UserManager<ApplicationUser> userManager;

@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@{
	ViewData["Title"] = "Admin Dashboard";
}
	<div class="text-center">
		<h1 class="display-4">Overzicht Gebruikers</h1>
		<p>Overzicht van alle accounts.</p>
	</div>

	<form asp-controller="Administration" asp-action="AdminDashboard">
		<p>
			Zoek: <input type="text" name="SearchString" style="border-radius: 5px; background-color: #e6e6e6; border: none;"/>
		</p>
	</form>

	<table style="width:100%;">
		<tr>
			<th>Naam</th>
			<th>ID</th>
			<th>Bekijk</th>
		</tr>
		@foreach (var role in Model)
		{
			<tr>
				<td><img id="profilepictureInList" src="@Url.Content((userManager.Users.Single(u => u.Id == role.Id)).ProfileImageUrl)">@role.UserName</td>
				<td>@role.Id</td>
				<td>@Html.ActionLink("Bekijk", "ViewUser", "Administration", new { Id = role.Id }, null)</td>
			</tr>
		}
	</table>
