
@{
    ViewData["Title"] = "ConfirmationAccount";
}

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Account Geverifieerd</h4>
        <p>Je account is nu geverifieerd</p><a href="https://localhost:44398/account/login">Klik hier om in te loggen</a>
     </div>

