
@{
    ViewData["Title"] = "DeniedProfile";
}
<h2>Profiel afgewezen</h2>
<p>Je hebt het profielswijziging afgewezen.</p>
<p>Hier wordt de gebruiker van op de hoogte gesteld.</p>
<p>Deze kan opnieuw een verzoek doen tot profielwijziging</p>

