@using QienUrenMachien.Models
@model ProfileViewModel

    <form method="post">
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="UserName">Email</label>
            <input asp-for="UserName" class="form-control" readonly />
        </div>

        <div class="form-group">
            <label asp-for="FirstName">Voornaam</label>
            <input asp-for="FirstName" class="form-control" readonly />
        </div>

        <div class="form-group">
            <label asp-for="LastName">Achternaam</label>
            <input asp-for="LastName" class="form-control" readonly />
        </div>

        <div class="form-group">
            <label asp-for="PhoneNumber">Telefoon</label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Street">Straat + huisnr</label>
            <input asp-for="Street" class="form-control" />
            <span asp-validation-for="Street" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Zipcode">Postcode</label>
            <input asp-for="Zipcode" class="form-control" />
            <span asp-validation-for="Zipcode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="City">Woonplaats</label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Country">Land</label>
            <input asp-for="Country" class="form-control" />
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="BankNumber">IBAN</label>
            <input asp-for="BankNumber" class="form-control" />
            <span asp-validation-for="BankNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ProfileImageUrl">Link profielfoto</label>
            <input asp-for="ProfileImageUrl" class="form-control" />
        </div>

        @*<div class="form-group">
            <label asp-for="ProfileImageUrl">Link profielfoto</label>
            <input asp-for="ProfileImageUrl" class="form-control" />
        </div>*@


        <button type="submit" class="btn btn-primary">Opslaan</button>
    </form>

