
@{
    ViewData["Title"] = "StatusProfile";
}

<h1>Profiel gewijzigd</h1>
<p>Je hebt je profiel gewijzigd.</p>
<p>Hiervan wordt de admin van op de hoogte gesteld.</p>
<p>Deze handelt verder de goedkeuring af.</p>

