@model TimeSheetsViewModel
    <table style="width:100%;">
        <tr>
            <th>Werknemer</th>
            <th>Status Timesheet</th>
           
        </tr>
        @foreach (var sheet in Model.sheets)
        {
            <tr>
                <td>@(sheet.applicationUser.Firstname + " " + sheet.applicationUser.Lastname)</td>
               
            </tr>
        }
    </table>