
@model String
@{List<TimeSheet> sheets = ViewBag.Test;
}


<div>
    @ViewBag.Result
    <table>
        <tr>
            <th>Datum</th>
            <th>Opdracht</th>
            <th>Overwerk</th>
            <th>Verlof</th>
            <th>Ziek</th>
            <th>Training</th>
            <th>Overig</th>
            <th>Verklaring m.b.t. overig</th>
        </tr>


       

    </table>
</div>
