@model FileViewModel

    <div style="padding-top: 100px;">
        <h6>Documenten toevoegen</h6>
        <br />

        <form method="post" enctype="multipart/form-data" asp-controller="upload" asp-action="submitfiles">

            <div class="form-group">
                <label asp-for="Files">Voeg bestand(en) toe:</label>
                <input multiple asp-for="Files" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Opslaan</button>
        </form>
    </div>

